body{
    margin: 0;
    padding: 0;
    background: url(color.png);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.imagen-perfil-navbar {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.navbar-verde-jade {
    background-color: #00A86B;
}
.imagen-perfil-navbar {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.navbar-verde-jade {
    background-color: #00A86B;
}

.footer {
    background-color: #00A86B; /* Color de fondo del footer */
    text-decoration-color: black; /* Color del texto en el footer */
    padding: 20px;
    text-align: center;
}

.red-social {
    margin: 0 10px;
}